.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-color: #015668;
  font-family: 'Laca';
  color: white;
}


.feed {
  position: relative;
  width: 100vw;
  height: 100vh;
}


.video {
  position: absolute;
  top: calc(50% - 240px);

  left: calc(50% - 320px);
  border-radius: 10px;
  border: 10px #ffd369 solid;
}

.canvas {
  position: absolute;
  top: calc(50% - 240px);

  left: calc(50% - 320px);
}